# .gitignore
#
#   This file specifies intentionally untracked files that Git should ignore.
#
#   Alternatively, see the collection of .gitignore templates
#       https://github.com/github/gitignore

# macOS-specific
.DS_Store

# Build directories
dist
site
html

# Virtual environments
venv

# Miscellaneous
.idea
.vscode

# Python directories
__pycache__
*.pyc
*.tmp
.pytest_cache

# MSFT Office
~$*.*
hackproject/a11y-theme-builder/package-lock.json
hackproject/a11y-theme-builder-sdk/package-lock.json
hackproject/a11y-theme-builder/build/*
hackproject/a11y-theme-builder/node_modules/*
hackproject/a11y-theme-builder-sdk/build/*
hackproject/a11y-theme-builder-sdk/node_modules/*
/hackproject/a11y-theme-builder-sdk/docs/
